<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.js"></script>
    <script src="../../../resources/js/script.js"></script> <!--TODO:// change path to /resources/js/script.js on production-->
</head>
<body>

<form  method="post" action="#">

    <input id="file" type="file" name="file" accept="text/css">
    <button id="button" type="submit">send</button>

</form>

</body>

</html>